body{
    margin: 0;
    font-family: 'lato', sans-serif;
}
/* banner section style start */
.banner{
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
    padding-top: 50px;
    padding-right: 300px;
    padding-left: 240px;
    gap: 120px;
}
.banner-info{
    width: 50%;
    align-items: center;
    margin: auto;
    height: 850px;
    padding-right: 50px;
}
.banner-info>p{
    color: rgba(39, 39, 39, 0.60);
    font-family: lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner-text{
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    height: 288px;
    font-family: lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.btn-primary{
    width: 150px;
    height: 55px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}
.banner-image{
    width: 50%;
    height: 100vh;
}
.banner-image img{
    height: 100vh;
}
/* banner section style End */
.feature-text{
    text-align: center;

}
.feature-text> h2{
    text-align: center;
    font-family: lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.feature-text>p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.feature-flowers{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 30px;
    padding-top: 50px;

}
.feature-flower-1{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 538px;
    width: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.feature-flower-2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 538px;
    width: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.feature-flower-3{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 538px;
    width: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.feature-p{
    color: #272727;
    text-align: center;
    font-family: lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
/* discount section style start */
.discount-section{
    display: flex;
    justify-content: center;
    gap: 180px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    margin-top: 100px;
}
.discount-info{
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-left: 200px;
}
.discount-info span{
    color: #E55473;
}
.discount-info> p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.discount-image{
    padding-right: 230px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.discount-header{
    color: #272727;
    font-family: lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}