body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
/* banner section style start */
.banner{
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
    padding-top: 50px;
    padding-right: 300px;
    padding-left: 240px;
    gap: 120px;
}
.banner-info{
    width: 50%;
    align-items: center;
    margin: auto;
    height: 850px;
    padding-right: 50px;
}
.banner-info>p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner-text{
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    height: 288px;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.btn-primary{
    width: 150px;
    height: 55px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}
.banner-image{
    width: 50%;
    height: 100vh;
}
.banner-image img{
    height: 100vh;
}
/* banner section style End */